<h1>Edit movie</h1>

<%= simple_form_for @movie do |f| %>
  <%= f.input :title %>
  <%= f.input :text %>
  <%= f.input :rating %>
  <%= f.input :category_id, collection: Category.all %>

  <%= f.submit 'Update', class: 'btn-primary lg' %>
  <%= link_to 'Cancel', movies_path, class: 'btn-secondary lg' %>
<% end %>
