<div class="jumbotron grid-container">
  <h1>Movies</h1>

  <div class="container grid-25 mobile-grid-25">
    <p>Categories</p>
    <% Category.all.each do |category| %>
      <div><%= link_to category.name, movies_path(category: category)%> (<%= "#{Movie.where(category: category).count}"%>)</div>
    <% end %>
  </div>

  <div class="grid-50 mobile-grid-50 ">
    <% if @movies.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Rating</th>
            <th scope="col">Category</th>
            <% if logged_in? %>
              <th colspan="3"></th>
            <% end %>
          </tr>
        </thead>

        <div>

        </div>

        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= calculate_rating(movie) %></td>
            <td><%= movie.category.name %></td>
            <% if logged_in? && user_is_author_of(movie) %>
              <td><%= link_to 'Show', movie %></td>
              <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
              <td><%= link_to 'Destroy', movie, method: :delete,
                                              data: { confirm: 'Are you sure?' } %></td>
            <% elsif logged_in? %>
              <td><%= already_rated(movie) ? link_to("Update rating of #{user_rating(movie)}", movie_edit_rate_path(movie)) : link_to('Rate', movie_rate_path(movie)) %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div>No movies. Would you like to <%= link_to 'add one?', new_movie_path %></div>
    <% end %>

    <%= will_paginate @movies, class: 'pagination' %>
  </div>

  <div class="container grid-25 mobile-grid-25">
    <p>Rating</p>
    <% [1, 2, 3, 4, 5].each do |num| %>
      <div><%= link_to num, movies_path(rating: num)%> (<%= "#{movies_rated(num).count}"%>)</div>
    <% end %>
  </div>
</div>

<% if logged_in? %>
  <nav class="navbar navbar-right">
    <div class="nav-links">
      <span class="btn btn-link"><%= link_to 'Add new movie', new_movie_path %></span>
      <span class="btn btn-link"><%= link_to 'Add new category', new_category_path %></span>
    </div>
  </nav>
<% end %>
