
<div class="container">
  <%= react_component("HelloWorld", { greeting: "Hello" }) %>
  <div>
    Title: <%= @movie.title %>
  </div>
  <div>
    Text: <%= @movie.text %>
  </div>
  <div>
    Rating: <%= @movie.rating %>
  </div>
  <div>
    Category: <%= @movie.category.name %>
  </div>
</div>
