<div class="jumbotron">
  <h1>New category</h1>

  <% @category.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>

  <%= simple_form_for @category do |f| %>
    <%= f.input :name, label: false, placeholder: 'Name' %>

    <%= f.submit 'Save', class: 'btn-primary lg' %>
    <%= link_to 'Cancel', movies_path, class: 'btn-secondary lg' %>
  <% end %>
</div>
