<h1>New category</h1>

<% @category.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<%= simple_form_for @category do |f| %>
  <%= f.input :name %>

  <%= f.submit 'Save', class: 'btn-primary lg' %>
  <%= link_to 'Cancel', movies_path, class: 'btn-secondary lg' %>
<% end %>
